<%= form_for(@semester) do |f| %>
  <% if @semester.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@semester.errors.count, "error") %> prohibited this semester from being saved:</h2>

      <ul>
      <% @semester.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="col-md-4 col-md-offset-4">

      <form>
        <fieldset class="form-group">
          <%= f.label :semester_name %>
          <%= f.text_field :sem_name, :placeholder => "Semester Name", class: 'form-control' %>
        </fieldset>

        <fieldset class="form-group">
          <div class="dropdown">
            <%= f.label :status %>
            <%= f.collection_select :status, Semester::STATUS, :to_s, :to_s, include_blank: true %>
          </div>

        </fieldset>

        <fieldset class="form-group">
          <%= f.label :maximum_credit %>
          <%= f.text_field :maximum_credit, :placeholder => "Maximum Credit", class: 'form-control' %>
        </fieldset>

        <%= f.submit "Create Semester", class: "btn btn-primary" %>


      </form>
    </div>
<% end %>
