<p id="notice"><%= notice %></p>

<h1>Listing Enrolls</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Semester</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @enrolls.each do |enroll| %>
      <tr>
        <td><%= enroll.user.first_name %></td>
        <td><%= enroll.semester.sem_name %></td>
        <td><%= enroll.semester.status %></td>
        <td><%= link_to 'Show', enroll %></td>
        <td><%= link_to 'Edit', edit_enroll_path(enroll) %></td>
        <td><%= link_to 'Destroy', enroll, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Enroll', new_enroll_path, class: "btn btn-primary"  %>
